# Ignore Python bytecode files
__pycache__/
*.py[cod]
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# Ignore virtual environment directories
venv/
env/
# Ignore IDE-specific files
.idea/
*.sublime-project
*.sublime-workspace
# Ignore Python environment files
*.env
# Ignore data files
dataset/
*.json
*.csv
*.pkl
*.h5
*.hdf5
*.log
*.txt